.DS_Store
.editorconfig
.eslintrc.js
.gitignore
.lintstagedrc
.npmignore
.prettierrc
babel.config.js
postcss.config.js
tsconfig.json
vite.config.ts

.github/
dist/
docs/
example/
node_modules/
src/
test/
types/example/

npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
