.pro-array-form,
.el-form-item {
  --pro-array-form-size: 18px;
}
.pro-array-form.el-form--large,
.el-form-item.el-form-item--large {
  --pro-array-form-size: 22px;
}
.pro-array-form > .pro-array-form-btn-add,
.el-form-item .pro-array-form-btn-add {
  margin-bottom: var(--pro-array-form-size);
}

.pro-array-form-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: var(--pro-array-form-size);
  width: 100%;
  border-top: var(--el-border-width) dashed var(--el-border-color);
  &:first-child {
    padding-top: 0 !important;
    border-top-width: 0;
  }
  & .pro-array-form-content-item {
    flex: 1;
    & .pro-form-item {
      margin-bottom: var(--pro-array-form-size);
    }
  }
  & .pro-array-form-btn-delete {
    margin: 0 0 var(--pro-array-form-size) 10px;
  }
}
