.pro-autocomplete-tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--el-border-radius-base);
  box-shadow: 0 0 0 1px var(--el-border-color-base) inset;
  background-color: var(--el-fill-color-light);
  & .el-tag {
    margin: 3px;
  }
  & .el-autocomplete {
    flex: 1;
    min-width: 80px;
  }
}
