.pro-crud-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--el-component-size) / 2);
  & + .pro-table {
    margin-top: calc(var(--el-component-size) / 2);
  }
}
