.pro-form.el-form .el-form-item.is-guttered {
  display: flex;
}

.pro-form-item .children-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  width: 100%;
  border-top: var(--el-border-width-base) dashed var(--el-border-color-base);
  &:first-child {
    padding-top: 0;
    border-top-width: 0;
  }
  & .children-form-item {
    flex: 1;
    & .pro-form-item {
      margin-bottom: 22px;
    }
  }
  & .delete-bth {
    margin: 0 0 20px 10px;
  }
}
