@custom-media --xs-medium (width < 768px);

:root {
  /* color */
  --c-background: #ffffff;
  --c-header-background: var(--c-background);
  --c-aside-background: var(--c-background);
  --c-tabs-background: var(--c-background);
  --c-page-background: #f0f2f5;
  --c-mask-background: rgba(0, 0, 0, 0.4);
  --c-border: #dcdfe6;

  /* size */
  --aside-width: 240px;
  --aside-collapse-width: 60px;
  --layout-height: 100vh;
  --header-height: 54px;
  --footer-height: 50px;
  --border-radius: 4px;
  --main-margin: 10px;
  --main-padding: 20px;
  --xs-main-margin: 4px;
  --xs-main-padding: 10px;

  /* z-index */
  --z-index-sidebar: 100;

  /* transition */
  --t-duration: 0.3s;
  --t-timing-function: ease-out;
}

body {
  margin: 0;
  padding: 0;
}
