:root {
  /* color */
  --c-background: #ffffff;
  --c-aside-background: var(--c-background);
  --c-border:  rgb(230, 230, 230);

  /* size */
  --aside-width: 240px;
  --layout-height: 100vh;
  --header-height: 60px;
  --footer-height: 50px;

  /* z-index */
  --z-index-sidebar: 100;

  /* transition */
  --t-duration: .3s;
  --t-timing-function: ease-out;
}

body {
  margin: 0;
  padding: 0;
}
