@import 'element-plus/theme-chalk/el-tag.css';
@import 'element-plus/theme-chalk/el-input.css';

.pro-input-tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--c-border);
  border-radius: 4px;
  background-color: var(--c-background);
  & .el-tag {
    margin: 3px;
  }
  & .el-input {
    flex: 1;
    min-width: 80px;
  }
  & .el-input .el-input__inner {
    border: 0;
  }
}
