body {
  margin: 0;
  padding: 0;
}
.pro-layout {
  --el-menu-bg-color: var(--el-bg-color);
  &.layout-aside {
    display: flex;
  }
  &.layout-topmenu {
    background-color: var(--el-bg-color-page);
    & .pro-header .header-content {
      border-bottom: 1px solid var(--el-menu-border-color);
      background-color: var(--el-menu-bg-color);
    }
  }
  & .pro-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--pro-layout-width-aside) - 1px);
    background-color: var(--el-bg-color-page);
  }
  & .aside-collapse + .pro-container {
    width: calc(100% - var(--pro-layout-width-aside-collapse) - 1px);
  }
  & .pro-aside {
    position: sticky;
    top: 0;
    z-index: var(--pro-layout-index-header);
    height: var(--pro-layout-height);
    & .mask {
      display: none;
    }
    & .pro-aside-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-right: 1px solid var(--el-menu-border-color);
      background-color: var(--el-menu-bg-color);
      &.with-logo {
        width: var(--pro-layout-width-aside);
      }
      &.with-transition {
        transition: all var(--el-transition-duration)
          cubic-bezier(0.55, 0, 0.1, 1);
      }
      & .pro-aside-logo {
        padding-left: 20px;
        height: var(--pro-layout-height-header);
        min-height: var(--pro-layout-height-header);
        border-bottom: 1px solid var(--el-menu-border-color);
        overflow: hidden;
      }
      & .el-scrollbar {
        flex: 1;
        height: auto;
        & .el-scrollbar__wrap {
          overflow-x: hidden;
        }
      }
      & .pro-menu {
        border-right: 0;
        &:not(.el-menu--collapse) {
          width: var(--pro-layout-width-aside);
        }
      }
    }
    &.aside-collapse .pro-aside-wrapper {
      &.with-logo,
      & .pro-menu.el-menu--collapse {
        width: var(--pro-layout-width-aside-collapse);
      }
      & .pro-aside-logo {
        padding-left: 0;
      }
    }
    @media (max-width: 767px) {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      z-index: var(--pro-layout-index-sidebar);
      &.aside-collapse {
        width: 100%;
      }
      & .mask {
        display: block;
        position: absolute;
        opacity: 0;
        transition: var(--el-transition-fade);
      }
      &.aside-collapse .mask {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--el-overlay-color-lighter);
        opacity: 1;
      }
      & .pro-aside-wrapper {
        transform: translateX(-100%);
      }
      &.aside-collapse .pro-aside-wrapper,
      &.aside-collapse .pro-aside-wrapper.with-logo {
        width: var(--pro-layout-width-aside);
        transform: translateX(0);
        & .pro-aside-logo {
          padding-left: 20px;
        }
      }
    }
  }
  & .pro-header {
    &.fixed-header {
      position: sticky;
      top: 0;
      z-index: var(--pro-layout-index-header);
    }
    & .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: var(--pro-layout-height-header);
      min-height: var(--pro-layout-height-header);
      border-bottom: var(--el-border);
      background-color: var(--pro-layout-header-background-color);
    }
    & .header-slot {
      display: flex;
      align-items: center;
      &:first-child {
        flex: 1;
        & .pro-menu {
          flex: 1;
          border-bottom: 0;
        }
      }
      & .header-fold-btn {
        display: inline-block;
        margin: 0px 20px 0px 0px;
        padding: 0;
        width: 24px;
        height: 29px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        & .line {
          display: block;
          margin: 5px auto;
          width: 24px;
          height: 3px;
          background-color: var(--el-text-color-primary);
          transition: var(--el-transition-md-fade);
        }
        &.is-active .line:first-child {
          transform: rotateZ(45deg) scaleX(0.8) translate(8px, -3px);
        }
        &.is-active .line:last-child {
          transform: rotateZ(-45deg) scaleX(0.8) translate(8px, 3px);
        }
      }
      & .el-menu--horizontal > .el-sub-menu .el-sub-menu__title {
        height: var(--pro-layout-height-header);
        line-height: var(--pro-layout-height-header);
      }
    }
  }
}
