.pro-menu {
  &.el-menu {
    border-right: 0;
  }
  &.el-menu--collapse {
    width: var(--pro-layout-width-aside-collapse);
    & .pro-link {
      height: auto !important;
      width: auto !important;
      overflow: hidden !important;
      visibility: visible !important;
      & span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }
  }
}
.pro-menu,
.el-menu--vertical,
.el-menu--horizontal {
  & .pro-link {
    width: 100%;
    box-sizing: border-box;
    color: var(--el-text-color-primary);
    transition: var(--el-transition-color);
    & .pro-menu-icon {
      margin-right: 8px;
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }
    &:hover {
      color: var(--el-color-primary);
      text-decoration: none;
    }
  }
}
.el-menu-item.is-active .pro-link,
.el-menu-item .pro-link.router-link-exact-active {
  color: var(--el-color-primary);
}
