@import 'element-plus/theme-chalk/el-table.css';
@import 'element-plus/theme-chalk/el-table-column.css';
@import 'element-plus/theme-chalk/el-pagination.css';

.pro-table + .pro-pagination {
  padding: 15px 0;
  overflow: scroll hidden;
  text-align: right;
}
