@custom-media --xs-medium (width < 768px);

:root {
  --pro-layout-header-background-color: var(--el-color-white);
  --pro-layout-aside-background-color: var(--el-color-white);
  --pro-tabs-background-color: var(--el-color-white);
  --pro-layout-width-aside: 240px;
  --pro-layout-width-aside-collapse: 60px;
  --pro-layout-height: 100vh;
  --pro-layout-height-header: 54px;
  --pro-layout-index-header: 10;
  --pro-layout-index-sidebar: 1800;
}
