<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      InputTag | element-pro-components
    </title>
    <meta name="description" content="a component library for Vue 3 base on element-plus">
    <link rel="stylesheet" href="/element-pro-components/assets/style.00c27619.css">
    <link rel="modulepreload" href="/element-pro-components/assets/framework.d4718fe3.js">
    <link rel="modulepreload" href="/element-pro-components/assets/components_InputTag.md.12090591.lean.js">
    <link rel="modulepreload" href="/element-pro-components/assets/app.cfa4384b.js">
    <link rel="icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="author" content="tolking &lt;w13131wang@gmail.com&gt;">
    <meta name="keywords" content="element-pro,pro-components,admin,element-plus,components,vue,ui">
    
  </head>
  <body>
    <div id="app"><!----></div>
    <script>__VP_HASH_MAP__ = JSON.parse("{\"index.md\":\"c009dc16\",\"components_breadcrumb.md\":\"a5e6e9bd\",\"components_checkbox.md\":\"680e5e56\",\"components_form.md\":\"1c776bbb\",\"components_inputtag.md\":\"12090591\",\"components_layout.md\":\"e4df0bec\",\"components_menu.md\":\"5bed3eac\",\"components_radio.md\":\"41288d49\",\"components_select.md\":\"458aa73a\",\"components_table.md\":\"b610a9a0\",\"components_tabs.md\":\"4cc74053\",\"guide_index.md\":\"894c3236\",\"guide_theme.md\":\"536b07c1\"}")</script>
    <script type="module" async src="/element-pro-components/assets/app.cfa4384b.js"></script>
  </body>
</html>