.el-table table {
  display: block;
  border-collapse: collapse;
  margin: 0;
  overflow-x: auto;
}

.el-table tr {
  border-top: 0;
}

.el-table tr:nth-child(2n) {
  background-color: transparent;
}

.el-table th,
.el-table td {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.el-table thead.is-group th {
  border-right: 1px solid rgb(235, 238, 245);
}
