.docs-layout {
  --pro-layout-height: 400px;
  --pro-layout-index-header: 1;
  border: 1px solid var(--el-border-color);
  max-height: 400px;
}

.docs-menu {
  max-height: 400px;
  overflow: auto;
}
.docs-menu:not(.el-menu--collapse):not(.el-menu--horizontal) {
  width: var(--pro-layout-width-aside);
}
