html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 1;
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.9rem;
}

@media screen and (min-width: 420px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--c-divider);
  padding-bottom: 0.3rem;
  line-height: 1.25;
  font-size: 1.65rem;
}

h2 + h3 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 2rem;
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

p,
ol,
ul {
  margin: 1rem 0;
  line-height: 1.7;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

.markdown-body a {
  text-decoration: none;
  color: var(--c-brand);
}

.markdown-body a:hover {
  text-decoration: underline;
}

a.header-anchor {
  font-size: 0.85em;
  opacity: 0;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 1.25em;
}

li > ul,
li > ol {
  margin: 0;
}

table:not(table[class]) {
  display: block;
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
}

table:not(table[class]) tr {
  border-top: 1px solid #dfe2e5;
}

table:not(table[class]) tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table:not(table[class]) th,
table:not(table[class]) td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

blockquote {
  margin: 1rem 0;
  border-left: 0.2rem solid #dfe2e5;
  padding: 0.25rem 0 0.25rem 1rem;
  font-size: 1rem;
  color: #999;
}

blockquote > p {
  margin: 0;
}

form {
  margin: 0;
}
