.markdown-body {
  --docs-code-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  --docs-color-warning: #e7c000;
  --docs-color-danger: #4d0000;

  --docs-bg-code: #282c34;
  --docs-bg-code-inline: rgba(27, 31, 35, 0.05);
  --docs-bg-tip: #f3f5f7;
  --docs-bg-warining: rgba(255, 229, 100, 0.3);
  --docs-bg-danger: #ffe6e6;
  --docs-bg-table-stripe: #f6f8fa;
}

html.dark .markdown-body {
  --docs-bg-tip: #3e3b3b;
  --docs-bg-warining: rgba(185, 174, 119, 0.3);
  --docs-bg-danger: rgba(72, 56, 57, 30%);
  --docs-bg-table-stripe: #444;
}
